<h1>Smoothie App</h1>
<!--<div *ngFor="let smoothie of smoothies">-->
<!--  <app-smoothie (delete)="onDelete($event)" [smoothie]="smoothie"></app-smoothie>-->
<!--</div>-->

<mat-accordion class="example-headers-align" multi>

  <mat-expansion-panel *ngFor="let smoothie of smoothies">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>local_bar</mat-icon>
        {{smoothie.name}}
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>description</mat-icon>
        {{smoothie.carbohydrates}} - {{smoothie.fat}} - {{smoothie.protein}}

      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-smoothie (update)="onUpdate($event)" (delete)="onDelete($event)" [smoothie]="smoothie"></app-smoothie>

  </mat-expansion-panel>
</mat-accordion>

<button (click)="addSmoothie()" mat-fab color="primary" aria-label="Add" type="submit" *ngIf="isAuth$ | async">
  <mat-icon>add_circle</mat-icon>
</button>
