<form [formGroup]="smoothieFormGroup" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="fill">
    <mat-label>Name:</mat-label>
    <input matInput id="name" type="text" formControlName="name" [readonly]="!(isAuth$ | async)">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Carbohydrates:</mat-label>
    <input matInput id="carbohydrates" type="text" formControlName="carbohydrates" [readonly]="!(isAuth$ | async)">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fat:</mat-label>
    <input matInput id="fat" type="text" formControlName="fat" [readonly]="!(isAuth$ | async)">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Protein:</mat-label>
    <input matInput id="protein" type="text" formControlName="protein" [readonly]="!(isAuth$ | async)">
  </mat-form-field>

  <button mat-fab extended color="primary" type="submit" [disabled]="!(isAuth$ | async)">
    <mat-icon>save</mat-icon>
    Save
  </button>

</form>

<div id="btn-add-container">

  <button (click)="addToBag(smoothie)" mat-fab color="secondary" aria-label="Delete" type="button"
          [disabled]="!(smoothie.id)">
    <mat-icon>add_shopping_cart</mat-icon>
  </button>
</div>
<div id="btn-delete-container">
  <button (click)="onDelete()" mat-mini-fab color="warn" aria-label="Delete" type="button"
          [disabled]="!(isAuth$ | async)">
    <mat-icon>delete</mat-icon>
  </button>

</div>
